<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jokes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(jokes)}">
        <h2>Jokes List</h2>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Category</th>
            </tr>
            <tr th:each="joke : ${jokes}">
                <td th:text="${joke.title}"></td>
                <td th:text="${joke.text}"></td>
                <td th:text="${joke.category}"></td>
                <td><a th:onclick="return confirm('Sure ?')" th:href="${'/delete/' + joke.id}">Delete</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="#" th:href="${'/new'}">New Joke</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/new">Get JokeOfTheDay</a>
        </div>
    </div>
</div>

</body>
</html>